:root {
  --background-color: #ffda1f;
}

ul {
  list-style: none;
}

li {
  
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0 20px;
  background-color: var(--background-color);
}
.header__menu_items {
  display: flex;
  justify-content: center;
}
.header__menu_item a {
  display: block;
  padding: 10px 10px;
  color: #000;
  text-transform: capitalize;
  font-size: 20px;
  transition: all .3s ease;
}
.header__menu_item a:hover {
  background-color: #fff;
}
.section {
  display: flex;
  justify-content: flex-start;
  padding: 20px 20px;
}
@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}
.section:nth-child(even) {
  background-color: #dfdeda;
}
.section__title {
  width: 25%;
  margin: 0 20px 20px 0;
}
.section__text {
  line-height: 1.5rem;
}
.section__skills_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skill {
  padding: 10px;
  border-radius: 20px;
  background-color: #ffda1f;
}
.section__code {}
.footer {
  padding: 20px 20px;
  background-color: var(--background-color);
}
.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-school img {
  width: 100px;
}
.github_logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}
.github_logo img {
  width: 40px;
}
